<mat-toolbar color="primary" class="toolbar">
    <mat-list class="matList">
        <div class="logo-toggle">
            <div class="MatlistContainer">
                <button mat-icon-button (click)="onToggleSidebar()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>My App</span>
            </div>
            <div class="list-container">
               
                <mat-list-item>
                   
                    Login | Register</mat-list-item>
            </div>

        </div>
    </mat-list>


</mat-toolbar>